<div class="container-row">
    <div class="col-lg-offset-3 col-xs-9 form-inline marginb16">
        <div class=" my">    <!-- div col-lg-x für jedes element oder form control inline-->
            <div class="form-group tt">
                <select class="form-control" id="pi_degree_select">
                    <option value="all">Alle Studiengänge</option>
                    {% for program in degree_programs %}
                        <option value="{{ program.name }}">{{ program.name | capfirst }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group tt marginl8">
                <select disabled class="form-control" id="pi_subject_select" onchange="apply_search()">
                    <option value="all" selected>Alle Fächer</option>
                </select>
            </div>

            <div class="form-group tt marginl8">
                <select id="pi-semesteryear-select" class="form-control" onchange="apply_search()">
                    <option value="all" selected>Alle Semester</option>
                    {% for i in year_choices %}
                        <option value="SS{{ i }}">SoSe {{ i }}</option>
                        <option value="WS{{ i }}">WiSe {{ i }}/{{ i|add:1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group tt marginl8">
                <a class="btn  form-control" href="#">
                    <i id="project_sort" class="fa fa-sort-amount-desc"></i></a>
            </div>
        </div>
    </div>
</div>
<style>
    .my {
        height: 35px;
    }

    .tt {
        height: 100%;
    }

    .marginl8 {
        margin-left: 8px;
    }

    .marginb16 {
        margin-bottom: 16px;
    }
</style>