<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Projekt: {insert
                    via js}</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text"
                               class="control-label">Hinweise:</label>
                        <textarea style="resize: vertical;" class="form-control"
                                  id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" style="margin:0" class="btn btn-default"
                        data-dismiss="modal">Schließen
                </button>
                <button type="button" class="btn btn-primary">Abschicken
                </button>
            </div>
        </div>
    </div>
</div>