<div class="col-lg-9 col-md-8">
    {% for p in projects %}
        <div class="panel">
            <div class="panel-body">
                <div class="row" style="position: relative;">
                    <div class="col-xs-9">

                        <h4 style="margin-bottom: 4px;">{{ p.heading }}</h4>

                        <div style="margin-bottom: 8px;">
                            <span>{{ p.subject.name }} | {{ p.degree_program.name }} | {{ p.get_semester_year_string }}</span>
                        </div>

                        <p>Mitglieder</p>
                        {% for m in p.members.all %}
                            <span><a href="{% url 'user_profile' unique_name=m.unique_name %}">
                                {{ m.auth_user.first_name }} {{ m.auth_user.last_name }}
                            </a></span>
                        {% endfor %}

                    </div>

                    <div class="col-xs-3" style="text-align: right">
                        <p>Abgabedatum</p>
                        <p>{{ p.upload_date | date:'d.m.Y' }}</p>
                        <!--<p>Status: {{ p.get_approval_string }}</p>-->
                    </div>

                    <a id="goto_project" href="{% url 'project' base64_unique_id=p.unique_id_base64 %}"
                       class="btn btn-primary">Zum Projekt</a>

                </div>
            </div>
        </div>
    {% empty %}
        <p>Keine zu prüfenden Projekte vorhanden.</p>
    {% endfor %}
</div>

<style>
    /*TODO: put in less/main css*/
    span {
        margin: 0 5px;
    }

    span:first-of-type {
        margin-left: 0;
    }

    span:last-of-type {
        margin-right: 0;
    }

    .panel-body {
        padding-bottom: 20px;
    }

    p {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #goto_project {
        position: absolute;
        right: 8px;
        bottom: 0;
        margin-right: 0;
    }
</style>