<div class="col-lg-3 col-md-4">
    <div class="panel">
        <div class="panel-body">
            <table id="prof-action-bar" class="table table-small">
                <tr>
                    <td><a href="#">Geprüfte Projekte</a></td>
                </tr>
                <tr>
                    <td><a href="" id="approval-link">Zu Prüfen {% if projects.count != 0 %}
                        <p style="display:inline;color:red;">

                            ({{ projects.count }})</p>{% endif %}</a></td>
                </tr>
                <tr>
                    <td><a href="" id="students-link">Studenten-Verwaltung</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>