{% load staticfiles %}
{% load crispy_forms_tags %}

{% if request.user.is_authenticated or not "/login/" in request.get_full_path and not "/register/" in request.get_full_path %}
    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li class="dropdown" id="dropdown" style="padding: 12px 10px 0 0;">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <img class="useravatar" src="{% static 'images/demoavatar.png' %}"/>
                    <strong class="caret hidden-xs" style="border-width: 5px"></strong>
                </a>
                {% include 'main/usernavmenu.html' %}
            </li>
        {% else %}
            <li class="dropdown" id="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <span class="fa fa-user fa-2x"></span>
                    <strong class="caret hidden-xs"></strong>
                </a>
                {% include 'main/loginmenu.html' %}
            </li>
        {% endif %}
    </ul>
{% endif %}
