<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Latest compiled and minified CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    {% block css %}
    {% endblock %}
    {% if debug %}
        <link rel="stylesheet" type="text/less" media="all" href="{% static 'style/custom.less' %}">
        <script src="{% static 'js/libs/less.min.js' %}"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{% static 'style/custom.less' %}">
        {% endcompress %}
    {% endif %}
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="container">
    <div id="header-area" class="container-row">
        <div class="row hidden-xs">
            <div class="col-xs-12 toplinks">
                <a href="https://www.haw-hamburg.de" target="_blank" class="pull-right">HAW Hamburg</a>
                <a href="https://www.haw-hamburg.de/impressum.html" class="pull-right">Impressum</a>
                <a href="/about" class="pull-right">Über Showcase</a>
            </div>
        </div>
        <!-- Normal Navbar -->
        <div class="navbar navbar-normal hidden-xs">
            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 861 385.5403" class="logosvg">
                    <defs>
                        <style>
                            .a {
                                fill: #fafbff;
                            }

                            .a, .b {
                                stroke: #000;
                                stroke-miterlimit: 10;
                            }

                            .b {
                                fill: #334d5c;
                            }
                        </style>
                    </defs>
                    <path class="a" d="M454.9565,134.4783" transform="translate(-234 -140.618)"></path>
                    <path class="b"
                          d="M1094.5,195.5v-34H528.468a183.9885,183.9885,0,0,0-168.3412,0H234.5v344H360.5663a183.9752,183.9752,0,0,0,167.4623,0H1094.5v-34h-267v-31h267v-29h-146v-30h146v-33h-267v-30h267v-30h-146v-30h146v-32h-267v-31h267ZM444.9305,498.2329c-88.9355,0-161.032-73.8508-161.032-164.9505s72.0965-164.9505,161.032-164.9505,161.0319,73.8509,161.0319,164.9505S533.866,498.2329,444.9305,498.2329Z"
                          transform="translate(-234 -140.618)"></path>
                </svg>
                <img class="logotext" src="{% static 'images/logofont.png' %}">
            </a>
            {% if request.user.is_authenticated or not "/login/" in request.get_full_path and not "/register/" in request.get_full_path %}
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <img class="useravatar" src="{{ request.user.get_lib_user.profile_img.url }}"/>
                                <strong class="caret hidden-xs" style="margin-top:13px; margin-left:-1px; "></strong>
                            </a>
                            {% include 'snippets/usernavmenudropdown.html' %}
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="fa fa-user fa-2x" style="padding-top:2px;"></span>
                                <strong class="caret hidden-xs" style="padding-top:2px; margin-left:-1px;"></strong>
                            </a>
                            {% include 'authentication/loginmenu.html' %}
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <!-- Overlay Navbar -->
        <div id="toHide">
            <div id="navbar-overlay" class="navbar navbar-fixed-top navbar-small {% block visibility %}visible-xs{% endblock %}">
                <div class="container">
                    <div class="row" id="overlay-nav-row" style="padding-top:10px;">
                        <div class="col-xs-3 col-sm-4 text-left">
                            {% block left-link %}
                                <a href="#" id="overlay-back-to-top"><i class="fa fa-arrow-circle-up text-primary"
                                                                        style="font-size:2.1em;padding-right:10px;"
                                                                        aria-hidden="true"></i></a>
                            {% endblock %}
                        </div>
                        <div class="col-xs-6 col-sm-4 text-center">
                            <a href="/">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 861 385.5403" class="overlay-logo">
                                    <defs>
                                        <style>
                                            .a {
                                                fill: #fafbff;
                                            }

                                            .a, .b {
                                                stroke: #000;
                                                stroke-miterlimit: 10;
                                            }

                                            .b {
                                                fill: #334d5c;
                                            }
                                        </style>
                                    </defs>
                                    <path class="a" d="M454.9565,134.4783" transform="translate(-234 -140.618)"></path>
                                    <path class="b"
                                          d="M1094.5,195.5v-34H528.468a183.9885,183.9885,0,0,0-168.3412,0H234.5v344H360.5663a183.9752,183.9752,0,0,0,167.4623,0H1094.5v-34h-267v-31h267v-29h-146v-30h146v-33h-267v-30h267v-30h-146v-30h146v-32h-267v-31h267ZM444.9305,498.2329c-88.9355,0-161.032-73.8508-161.032-164.9505s72.0965-164.9505,161.032-164.9505,161.0319,73.8509,161.0319,164.9505S533.866,498.2329,444.9305,498.2329Z"
                                          transform="translate(-234 -140.618)"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="col-xs-3 col-sm-4 text-right">
                            {% block right-link %}
                                <ul class="nav navbar-nav navbar-right">
                                    {% if request.user.is_authenticated %}
                                        <a href="#" id="overlay-user-dropdown-btn">
                                            <img class="overlay-useravatar" src="{{ request.user.get_lib_user.profile_img.url }}"/>
                                        </a>
                                    {% else %}
                                        <a href="/login">
                                            <span class="fa fa-user text-primary" style="font-size:2.1em;"></span>
                                        </a>
                                    {% endif %}
                                </ul>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="row overlay-dropdown" id="overlay-user-dropdown" style="display:none;">
                        <div class="col-xs-12 overlay-menu" style="padding: 15px; padding-bottom: 0px;">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="img-responsive"
                                         src="{{ request.user.get_lib_user.profile_img.url }}"/>
                                </div>
                                <div class="col-xs-8">
                                    <h6 style="margin:0">{{ request.user.get_lib_user.get_public_name }}</h6>
                                    <a href="/u/{{ request.user.get_lib_user.unique_name }}"
                                       class="btn btn-primary btn-block btn-sm"
                                       style="margin-top: 10px;">Mein Profil</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="/me/project/new/"><span class="fa fa-upload fa-fw" aria-hidden="true"></span>&nbsp; <span
                                            style="margin-left:5px">Projekt hochladen</span></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="/me/settings/"><span class="fa fa-cog fa-fw" aria-hidden="true"></span>&nbsp; <span
                                            style="margin-left:5px">Einstellungen</span></a>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom:10px;">
                                <div class="col-xs-12">
                                    {% if request.user.is_superuser %}
                                        <a href="/admin/"><span class="fa fa-database fa-fw" aria-hidden="true"></span>&nbsp; <span
                                                style="margin-left:5px">Admin-Bereich</span></a>
                                    {% elif request.user.get_lib_user.type == 'professor' %}
                                        <a href="/admin/"><span class="fa fa-university fa-fw" aria-hidden="true"></span>&nbsp; <span
                                                style="margin-left:5px">Professoren-Bereich</span></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <form style="margin:0;" action='/logout/' method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="Logout" class="btn btn-default btn-block"
                                               style="margin-bottom:15px;"/>
                                        <input type="hidden" name="next" value="{{ current_path }}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block overlayjs %}
        <script>
            $('#overlay-back-to-top').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });

            $('#overlay-user-dropdown-btn').click(function () {
                if (document.documentElement.clientWidth < 580) {
                    if ($('#overlay-user-dropdown').css('display') == 'none')
                        $('#overlay-user-dropdown').css('display', 'block');
                    else
                        $('#overlay-user-dropdown').css('display', 'none');
                }
                return false;
            });

            $(function () {
                if (document.documentElement.clientWidth < 580) {
                    $(window).scroll(function () {
                        if ($(window).scrollTop() >= 100) {
                            $('#navbar-overlay').addClass('shadow-light');
                        } else {
                            $('#navbar-overlay').removeClass('shadow-light');
                        }
                    });
                } else {
                    $(window).scroll(function () {
                        if ($(window).scrollTop() >= 100) {
                            $('#toHide').css('visibility', 'visible');
                            $('#navbar-overlay').addClass('shadow-light');
                        } else {
                            $('#toHide').css('visibility', 'hidden');
                            $('#navbar-overlay').removeClass('shadow-light');
                        }
                    });
                }
            });
        </script>
    {% endblock %}

    <!-- Modals -->
    {% include 'authentication/registermodal.html' %}

    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top hidden-xs" role="button">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>

    <div class="hidden-lg hidden-md" style="margin-top:80px"></div>
    <!-- Page specific content-->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <div class="container-row" id="footer-area">
        <div class="row visible-xs-block">
            <div class="col-xs- toplinks">
                <a href="https://www.haw-hamburg.de" target="_blank" class="pull-left">HAW Hamburg</a>
                <a href="https://www.haw-hamburg.de/impressum.html" class="pull-left">Impressum</a>
                <a href="/about" class="pull-left">Über Showcase</a>
            </div>
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"
        charset="utf-8"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="{% static 'js/scroll-top.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/getcookie.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/login.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/register.js' %}" type="text/javascript" charset="utf-8"></script>
{% block scripts %}
{% endblock %}
</body>
</html>
