<div class="modal fade" tabindex="-1" role="dialog" id={% block id %}{% endblock %}>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% block title %}{% endblock %}</h4>
            </div>
        {% block modal-body %}
            <div class="modal-body" {% block bodyid %}{% endblock %}>
                {% block body %}{% endblock %}
                {% block footer %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="margin:0" data-dismiss="modal">Abbrechen</button>
                    <a type="button" class="btn {% block btnType %}btn-primary{% endblock %} button-ok" id="{% block actionID %}{% endblock %}" {% block additionalConfirm %}{% endblock %}>{% block primaryaction %}Speichern{% endblock %}</a>
                </div>{% endblock %}
            </div>
        {% endblock %}
        </div>
    </div>
</div>
{% block more %}
{% endblock %}