{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Registrieren - {{ view.names.project_name_long }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-push-2 col-md-push-2 col-sm-push-1">
            {% if request.user.is_authenticated %}
                <p>Du hast dich bereits erfolgreich registriert und bist eingeloggt!</p>
            {% else %}
                {% include 'authentication/useragreement.html' with submitid='submit-register' %}
                <br>
                <form action='' method="POST" id="register_form">
                  {% csrf_token %}
                    {{ form | crispy }}
                <input type="submit" disabled id="submit-register" class="btn btn-primary" name="register" value="Registrieren"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>

    </script>
{% endblock %}