<div style="overflow-y:scroll; height:250px">
    <div style="font-size:small; padding:5px;" class="font-elegance">
        <h4 class="text-center">Nutzungbedingungen</h4>
        <h5>§ 1 Geltungsbereich</h5>
        <ol>
            <li>Die nachfolgenden Bedingungen gelten für die Nutzung der Projektplattform: MT Showcase (<a href="http://showcase.mt.haw-hamburg.de">http://showcase.mt.haw-hamburg.de</a>) - im folgenden "Unsere Webseite" genannt. Für die Nutzung der Plattform ist wichtig, dass Sie als Nutzer/Nutzerin die nachfolgenden Plattformrgeln bzw. –bedingungen akzeptieren. Die Registrierung und Benutzung unserer Plattform ist für alle kostenlos.</li>
            <li>Mit der Registrierung sind Sie mit den Nutzungsbedingungen unserer Webseite einverstanden. Durch Ihr Einverständnis garantieren Sie uns, dass Sie keine Beiträge erstellen werden, die gegen die Nutzungsbedingung verstoßen.</li>
            <li>Durch die Registrierung mit einer HAW-Mailadresse bestätigen Sie uns angehöriger der HAW-Hamburg zu sein (als Beschäftigter/Beschäftigte oder eingeschriebener Student/Studentin).</li>
            <li>Als Beschäftigter/Beschäftigte oder eingeschriebener Student/Studentin können wir Ihnen alle Inhalte uneingeschränkt zur Verfügung stellen.</li>
            <li>Durch das Benutzen von unserer Webseite kommt kein Vertrag zwischen den Nutzern/Nutzerinnen und uns zustande.
            </li>
        </ol>
        <h5>§ 2 Pflichten als Nutzer/Nutzerinnen</h5>
        <ol>
            <li>Einer Ihrer Pflichten als Nutzer/Nutzerin ist es, dass Sie keine Beiträge veröffentlichen, die gegen diese Forenregeln, gegen die guten Sitten oder sonst gegen geltendes deutsches Recht verstoßen.
                <u>Folgende Punkte sind Ihnen nicht genehmigt:</u>
                <ol>
                    <li>Inhalte zu veröffentlichen, die unwahr sind und deren Veröffentlichung einen Straftatbestand oder eine Ordnungswidrigkeit erfüllt,</li>
                    <li>Versendung von Spam über die Plattform an andere Nutzer/ Nutzerin,</li>
                    <li>Verwendung von gesetzlich durch Urheber- und/oder Markenrecht geschützte Inhalte ohne rechtmäßige Berechtigung,</li>
                    <li>Handlungen, die wettbewerbswidrig sind,</li>
                    <li>mehrfache Einstellung von Beiträgen (sogenannte Doppelpostings),</li>
                    <li>eigene Werbung, folglich Schleichwerbung, zu betreiben und</li>
                    <li>Inhalte zu veröffentlichen, die beleidigend, rassistisch, diskriminierend oder pornographische Elemente aufweisen gegenüber anderen Nutzern/Nutzerinnen und der Allgemeinheit.</li>
                </ol>
                Ihre Pflicht als Forum-Nutzer/ Forum-Nutzerin ist es, auf § 2 Abs. 1 Nr. 1-7 dieser Nutzungsbedingung, vor der Veröffentlichung Ihres Beitrages im Forum zu beachten und zu überprüfen, ob Sie sich an diese Punkte gehalten haben.
            </li>
            <li>Sollten Sie gegen § 2 Abs. 1 Nr. 1-7 dieser Nutzungsbedingung verstoßen, behalten wir uns das Recht vor, gegen Sie folgende Schritte vorzunehmen:
                <ol>
                    <li>Ihre eingestellten Beiträge zu löschen und diese abzuändern,</li>
                    <li>Verbot weiterhin auf unserer Webseite Inhalte zu erstellen und</li>
                    <li>Sperrung des Zugangs als Nutzer/Nutzerin.</li>
                </ol>
            </li>
            <li>Haben Sie als Nutzer/Nutzerin nicht die Forenregeln beachtet und sind hierdurch mögliche Rechtsverstöße entstanden, die durch Ihre eingestellten Inhalte auf unserer Website entstanden sind (Pflichtverletzung), verpflichten Sie sich als Nutzer/Nutzerin, uns von jeglichen Ansprüchen, auch den Schadenersatzansprüchen, freizustellen und diesen die Kosten zu ersetzen. Zudem ist der Nutzer/die Nutzerin verpflichtet uns, bei Schadenersatzansprüchen hinsichtlich der Abwehr des durch ihn entstandenen Rechtsverstoßes (Pflichtverletzung s.o.), zu unterstützen und die Kosten einer angemessenen Rechtsverteidigung für uns zu tragen.</li>
            <li>Durch Ihr Einverständnis garantieren Sie uns, dass Sie keine Beträge erstellen werden, die gegen die Nutzungsbedingung verstoßen. Entsprechendes gilt auch für das Setzen von externen Links und die Signaturen.</li>
        </ol>
        <h5>§ 3 Übertragung von Nutzungsrechten</h5>
        Sie, als Nutzer/Nutzerin haben die alleinige Verantwortung des Urheberrechts i.S.d. Urhebergesetzes bei Veröffentlichung von Beiträgen und Themen im Forum zu beachten. Als Nutzer/Nutzerin räumen Sie uns mit der Veröffentlichung Ihres Beitrages und Ihrer Inhalte auf unserer Webseite die uneingeschränkten Nutzungsrechte ein, um den Beitrag und deren Inhalte dauerhaft zum Abruf bereitzustellen. Ferner hat unser Team das Recht, Ihre Themen, Beiträge und Inhalte zu löschen, zu bearbeiten und innerhalb unserer Webseite zu verschieben, um diese mit anderen Inhalten zu verknüpfen oder zu schließen.
        <h5>§ 4 Haftungsbeschränkung</h5>
        <ol>
            <li>Wir übernehmen keinerlei Gewähr für die auf unserer Webseite veröffentlichten und eingestellten Beiträge, Themen, Inhalte sowie externen Links und die daraus resultierenden Inhalte, insbesondere nicht für deren Richtigkeit, Vollständigkeit und Aktualität. Wir sind auch nicht verpflichtet, permanent die übermittelten und gespeicherten Beiträge der Nutzer/Nutzerinnen zu überwachen oder nach den Umständen zu erforschen, ob sie auf einen rechtswidrigen Inhalt hinweisen. Wir haften grundsätzlich nur im Falle einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung.</li>
            <li>Wir weisen ausdrücklich darauf hin, dass der/die Nutzer/Nutzerinnen selbst für ihre Inhalte haften und dass bei Veröffentlichung von Beiträgen und Inhalten (wie z.B. Videos) alle Nutzungs- und Verwertungsrechte von diesem geklärt wurden und vorliegen.</li>
            <li>Bei Werbeschaltungen übernehmen wir keine Haftung für den Inhalt und die Richtigkeit. Für den Inhalt der Werbeanzeigen ist der jeweilige Autor einzig und allein verantwortlich; gleiches gilt für den Inhalt der beworbenen Webseite. Bei Darstellung der Werbeanzeige auf unserer Webseite, sind wir nicht gleichzeitig mit dem rechtswidrigen Inhalt einverstanden. Daher liegt die Haftung ausschließlich bei dem Werbekunden.</li>
            <li>Es wird nicht für einen ständigen unterbrechungsfreien Abruf der Webseite garantiert. Einer Haftung diesbezüglich wird hiermit ausdrücklich widersprochen. Auch bei großer Sorgfalt können Ausfallzeiten leider nicht ausgeschlossen werden.</li>
        </ol>
        <h5>§ 5 Urheberrecht</h5>
        Sämtliche Texte, Bilder, Videos und andere auf unserer Webseite veröffentlichten Informationen und Daten unterliegen - sofern nicht anders gekennzeichnet - dem Copyright unserer Seite. Jede Form von Wiedergabe und/oder Modifikation darf nur mit der schriftlichen Genehmigung durch uns erfolgen. Andersfalls behalten wir uns das Recht vor gerichtlich gegen diese Rechtsverletzung vorzugehen. Alle Kosten, die durch eine Rechtsverletzung seitens eines Benutzers verursacht werden, werden diesem in Rechnung gestellt.
        <h5>§ 6 Änderungsvorbehalt</h5>
        Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die Änderung wird dann allen Nutzern/Nutzerinnen, an die bei der Registrierung, hinterlegten Mailadresse gesandt.
        <h5>§ 7 Kündigung und Laufzeit der Mitgliedschaft bei unserer Webseite</h5>
        Die Laufzeit der Mitgliedschaft beginnt mit der Registrierung und mit dem Einverständnis unseren Nutzungsbedingungen und besteht auf eine unbestimmte Zeit. Die Mitgliedschaft kann jederzeit ohne Angabe von Kündigen fristlos gekündigt werden.
        <h5>§ 8 Salvatorische Klausel</h5>
        Diese Nutzungsbedingung ist als Teil unserer Webseite zu betrachten, von dem aus auf diese Seite verwiesen wird. Sind einzelne Formulierungen dieser Nutzungsbedingung nicht mehr ganz oder nicht mehr vollständig konform mit der geltenden Rechtslage, so ist davon auszugehen, dass die übrigen Regelungen der Nutzungsbedingungen bestehen bleiben.
    </div>
</div>
<div style="margin-top:8px">
    <input type="checkbox" id="accept-ua"><span style="margin-left:8px">Ich akzeptiere die Nutzungbedingungen</span>
</div>
<script>
    $('#accept-ua').on('change', function(){
        var checked = $(this).is(":checked");
        if(checked){
            $('#submit-id-register').prop("disabled", false);
        } else {
            $('#submit-id-register').prop("disabled", true);
        }
    });
</script>