<div class="row" id="addcontentchoice-row">
    <div class="col-xs-4 col-sm-4 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 content-upload-padding-left">
        <div class="btn btn-primary btn-lg btn-block" id="addText">
            <span class="fa fa-font "></span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 content-upload-padding">
        <div class="btn btn-primary btn-lg btn-block" id="addPicture">
            <span class="fa fa-picture-o "></span>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 content-upload-padding">
        <div class="btn btn-primary btn-lg btn-block" id="addVideo">
            <span class="fa fa-video-camera "></span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 content-upload-padding">
        <div class="btn btn-primary btn-lg btn-block" id="addAudio">
            <span class="fa fa-headphones "></span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 content-upload-padding-right">
        <div class="btn btn-primary btn-lg btn-block" id="addSlideshow">
            <span class="fa fa-clone "></span>
        </div>
    </div>
</div>