{% load staticfiles %}

<div class="audio-input" style="margin-bottom: 12px;">
    <label>Wähle eine Datei</label>
    <img class="audiofile-close" width="12px" style="margin-left:8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
    <input type="file" name="file" accept="audio/*">
    <input type="text"
           class="audio-subheading form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Beschreibung unterm des Clips(optional)"
           maxlength="100">
</div>