{% load staticfiles %}

<div data-content-type="{% block contentType %}{% endblock %}"
     class="{% block sectionClass %}{% endblock %} upload-content-section"
     style="text-align: center; margin-bottom: 16px;">

    <hr class="no-margin-bottom">
    <img class="sub-content-close" width="12px" style="float:right;margin: 8px 1px 8px 8px;cursor: pointer;"
         src="{% static 'images/x.svg' %}">

    <input type="text"
           class="content-subheading form-control input-sm h4"
           style="margin-bottom: 8px;"
           {% if section_subheading %}value="{{ section_subheading }}"{% endif %}
           placeholder="Sektionsüberschrift (optional)"
           maxlength="70">

    <p>{% block sectionDesc %} {% endblock %}</p>

    {% block specificInput %} {% endblock %}

    <div style="margin-top:-10px">
        <input type="checkbox" {% block visibility %}{% endblock %} title="Sichtbarkeit" class="section-visible" style="margin-top: 16px;">
        <span style="margin-left: 8px; font-size:small">Sektion nur einsehbar für angemeldete Nutzer</span>
        {% include 'upload/help/help_visibility.html' %}
    </div>
</div>