{% load staticfiles %}
<div data-content-type="AUDIO" class="add-content-audio upload-content-section" style="text-align: center; margin-bottom: 32px;">
     <img class="sub-content-close" width="12px" style="float:right;margin:8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
    <input type="text"
           class="content-subheading form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Überschrift(optional)"
           maxlength="70">
    <p>Lade ein Audio-File hoch oder nutze einen Soundcloud-Link.</p>

    <div class="input-container" style="width: 100%;"></div>

    <div style="text-align: center;display: inline-block">
        <p class="addAudioFile btn btn-primary btn-lg" style="width: 50px;text-align: center;">
            <i class="fa fa-file-audio-o"></i>
        </p>
        <p>Audio-File</p>
    </div>

    <div style="display:inline-block;width: 32px;"></div>
    <div style="text-align: center; display: inline-block">
        <p class="addSoundcloudLink btn btn-primary btn-lg" style="width: 50px;text-align: center;">
            <i class="fa fa-soundcloud">
            </i>
        </p>
        <p>Soundcloud-Link</p>
    </div>
</div>