{% load staticfiles %}

<div data-content-type="SLIDESHOW" class="add-content-slideshow upload-content-section" style="margin-bottom: 30px;">
    <img class="sub-content-close" width="12px" style="float:right;margin:8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
    <input type="text"
           class="content-subheading form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Überschrift(optional)"
           maxlength="70">
    <div class="input-container">
        <div>
            <form action="{% url 'new-project' %}" name="test"
                  data-type-key="slideshow" class="content-input dropzone form-control" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
<style>
    .dropzone {
        height: 250px;
        overflow-y: scroll;
    }
</style>