{% load staticfiles %}

<div class="add-content-image upload-content input-group" style="text-align: center; margin-bottom: 32px;">
    <input type="text"
           class="content-subheading form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Überschrift(optional)"
           maxlength="70">

    <p>Importiere ein Bild oder nutze eine URL!</p>

    <div class="image-input-container" style="width: 100%;"></div>


    <div style="text-align: center;display: inline-block">
        <p class="addImageFile btn btn-primary btn-lg" style="width: 50px;text-align: center;">
            <i class="fa fa-file-image-o"></i>
        </p>
        <p>Image-File</p>
    </div>

    <div style="display:inline-block;width: 32px;"></div>
    <div style="text-align: center; display: inline-block">
        <p class="addImageLink btn btn-primary btn-lg" style="width: 50px;text-align: center;">
            <i class="fa fa-image">
            </i>
        </p>
        <p>Image-Link</p>
    </div>

</div>