{% extends 'upload/base_content.html' %}
{% load staticfiles %}

{% block contentType %}SLIDESHOW{% endblock %}

{% block sectionClass %}add-content-slideshow{% endblock %}

{% block sectionDesc %}Füge mindestens 2 Bilder hinzu, um eine Slideshow zu erstellen.{% endblock %}

{% block specificInput %}
    {% for input in content_inputs %}
        {% for image_url in input.images %}
            <input type="hidden" value="{{ image_url }}" class="slideshow-preload"/>
        {% endfor %}
    {% endfor %}

    <div class="input-container">
        <div>
            <form action="{% url 'new-project' %}" name="test"
                  data-type-key="slideshow" class="content-input dropzone form-control" method="POST"
                  enctype="multipart/form-data">
                {% csrf_token %}
            </form>
        </div>
    </div>
    <style>
        .dropzone {
            height: 250px;
            overflow-y: scroll;
        }
    </style>
{% endblock %}