{% load staticfiles %}

<div class="image-link-input" style="margin-bottom: 12px;">
    <label>Image URL</label>
    <img class="imagelink-close" width="12px" style="margin-left:8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
    <input type="text"
           style="margin-bottom: 16px;"
           class="image-url form-control input-sm h4 font-elegance"
           placeholder="https://www....."/>
    <input type="text"
           class="image-subheading form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Beschreibung unter dem Bild(optional)"
           maxlength="100">
</div>