{% extends 'modal.html' %}
{% block id %}
    imgUploadModal
{% endblock %}
{% block title %}
    Titelbild hochladen und zuschneiden {% include 'upload/help/help_title_image.html' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-6"><input type="file" name="image" id="image" class="filestyle"
           data-input="false"
           accept="image/*"
           data-buttonText="Datei hochladen"
           data-buttonName="btn-primary"
           data-iconName="fa fa-image"
           onchange="readURL(this, '');"></div>
        <div class="col-xs-6 crop-menu hidden"><button style="float:right; margin-right:0" class="btn btn-primary" id="crop_button">Speichern</button></div>
    </div>
    <div class="image_container" style="position: relative;">
        <img class="hidden" id="title_image" src="#" alt="image"/>
    </div>

    <style>
        .image_container img {
            max-width: 100%
        }
    </style>
{% endblock %}
{% block footer %}
{% endblock %}