{% extends 'project.html' %}
{% load staticfiles %}
{% block title %}
    {% if project %}
        {{ project.heading }} - Bearbeiten - {{ names.project_name }}
    {% else %}
        Neues Projekt erstellen - {{ names.project_name }}
    {% endif %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <link rel="stylesheet" href="{% static 'style/libs/dropzone.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.css"/>
    <style>
        .dz-details {
            display: none !important;
        }

        .dz-progress {
            display: none !important;
        }

        .dropzone .dz-preview.dz-file-preview .dz-image {
            border-radius: 0;
        }

        .dropzone .dz-preview .dz-image {
            border-radius: 0;
        }

        .error {
            color: #D5746A;
        }

        .error-border {
            border: 2px solid #D5746A !important;
        }

    </style>
{% endblock %}
{% block id %}
    projectupload-area
{% endblock %}
{% block imagespace %}
    <div class="upload-title-image-wrapper">
        <img id="selectedImage" style="max-height: 100%;" class="{% if project %}{% else %}hidden{% endif %}"
             src="{% if project %}{{ project.project_image.url }}{% endif %}" alt="your image"/>
        <a class="text-center text-primary" data-toggle="modal" data-target="#imgUploadModal">
            <div id="icon-upload-title-image">
                <span class="fa fa-upload fa-4x" style="padding-top:22%;"></span><br>
                <span style="display:inline-block;">Titelbild hochladen</span>
            </div>
        </a>
    </div>

    {% include 'upload/imguploadmodal.html' %}
{% endblock %}

{% block maininfo %}
    <div style="float:right; margin-top:-30px; margin-bottom:-5px">{% include 'upload/help/help_title.html' %}</div>
    <input type="text" id="heading" class="form-control input-lg h1 font-elegance" placeholder="Titel" maxlength="40"
            {% if project %} value="{{ project.heading }}" {% endif %}>
    <div style="float:right; margin-top:-20px; margin-bottom:-5px">{% include 'upload/help/help_subtitle.html' %}</div>
    <input type="text" id="subheading" class="form-control input-sm h4 font-elegance" placeholder="Untertitel"
           maxlength="70"
            {% if project %} value="{{ project.subheading }}" {% endif %}>
    <hr>
    <div class="input-group">
        <div style="float:right; margin-top:-25px; margin-bottom:-5px">{% include 'upload/help/help_desc.html' %}</div>
        <textarea id="description" class="form-control resize-none" placeholder="Kurzbeschreibung" rows="5"
                  maxlength="500">{% if project %}{{ project.description }}{% endif %}</textarea>
    </div>


{% endblock %}

{% block contentbody %}
    {% if project %}
        <input type="hidden" value="{{ project.unique_id_base64 }}" id="project-id"/>
    {% endif %}
    <div id="content-body">
        {% if project %}
            {% if project.contents %}
                {% for content_section in project.contents %}

                    {% if content_section.content_type == "TEXT" %}
                        {% for  content in content_section.contents %}
                            {% include 'upload/content_text.html' with section_subheading=content_section.subheading text=content.text %}
                        {% endfor %}
                    {% endif %}

                    {% if content_section.content_type == "VIDEO" %}
                        {% include 'upload/content_video.html' with section_subheading=content_section.subheading content_inputs=content_section.contents %}
                    {% endif %}

                    {% if content_section.content_type == "AUDIO" %}
                        {% include 'upload/content_audio.html' with section_subheading=content_section.subheading content_inputs=content_section.contents %}
                    {% endif %}

                    {% if content_section.content_type == "IMAGE" %}
                        {% include 'upload/content_image.html' with section_subheading=content_section.subheading content_inputs=content_section.contents %}
                    {% endif %}

                    {% if content_section.content_type == "SLIDESHOW" %}
                        {% include 'upload/content_slideshow.html' with section_subheading=content_section.subheading content_inputs=content_section.contents %}
                    {% endif %}

                {% endfor %}

            {% endif %}
        {% endif %}
        <div id="content-btn">
            {% include 'upload/addcontent.html' %}
        </div>
    </div>
{% endblock %}
{% block socials_help %}
    <div class="row" style="margin-top:-20px">
    <div class="col-xs-12" style="margin-bottom:-10px"><div style="float:right; margin-right:-13px;">{% include 'upload/help/help_socials.html' %}</div></div></div>
{% endblock %}
{% block projectsocials %}
    <div class="row">
    {% if project_social %}
        {% for social in project_social %}
            <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <a id="link1" style="display: none;">
                    <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
                    <br>
                    Link hinzufügen
                </a>
                <div>
                    <label>Link eingeben</label>
                    <img class="link-close" width="12px" style="margin-left:8px; cursor: pointer;"
                         src="{% static 'images/x.svg' %}">
                    <input type="text" value="{{ social.url }}" class="form-control input-sm h4 font-elegance"/>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <a id="link1">
                <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
                <br>
                Link hinzufügen
            </a>
            <div class="hidden">
                <label>Link eingeben</label>
                <img class="link-close" width="12px" style="margin-left:8px; cursor: pointer;"
                     src="{% static 'images/x.svg' %}">
                <input type="text" class="form-control input-sm h4 font-elegance"/>
            </div>
        </div>
        <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <a id="link2">
                <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
                <br>
                Link hinzufügen
            </a>
            <div class="hidden">
                <label>Link eingeben</label>
                <img class="link-close" width="12px" style="margin-left:8px; cursor: pointer;"
                     src="{% static 'images/x.svg' %}">
                <input type="text" class="form-control input-sm h4 font-elegance"/>
            </div>
        </div>
        <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <a id="link3">
                <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
                <br>
                Link hinzufügen
            </a>
            <div class="hidden">
                <label>Link eingeben</label>
                <img class="link-close" width="12px" style="margin-left:8px; cursor: pointer;"
                     src="{% static 'images/x.svg' %}">
                <input type="text" class="form-control input-sm h4 font-elegance"/>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block member_help %}
{% include 'upload/help/help_members.html' %}
{% endblock %}
{% block projectmember %}
    <div id="member-wrapper">
        {% if member_resp %}
            {% for projectmember, resps in member_resp %}
                {% if request.user.get_lib_user == projectmember.member %}
                    {{ request.user.get_lib_user.get_public_name }}
                    <ul id="resp-bar-{{ request.user.get_lib_user.id }}" style="border: 1px solid #e6e6e6;">
                        {% for resp in resps %}
                            <li>{{ resp }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% include 'upload/member_resp_choices.html' with member=projectmember.member resps=resps users=users %}
                {% endif %}
            {% endfor %}
        {% else %}
            {{ request.user.get_lib_user.get_public_name }}
            <ul id="resp-bar-{{ request.user.get_lib_user.id }}" style="border: 1px solid #e6e6e6;">
            </ul>
        {% endif %}

    </div>
    <hr>
    <button class="btn btn-primary btn-block" id="pu-add-member">Mitglied hinzufügen</button>
    <hr>
    <div id="supervisor-wrapper">
        {% for ps in project_supervisors %}
            {% include 'upload/supervisor_choices.html' with supervisors=all_supervisor current=ps %}
        {% endfor %}
    </div>
    <button class="btn btn-primary btn-block" id="pu-add-supervisor">Betreuer hinzufügen</button>

{% endblock %}
{% block data_help %}
{% include 'upload/help/help_projectdata.html' %}
{% endblock %}
{% block projectinfo %}
    <div class="form-group">
        <label for="degreeprogram-select" style="width:1%">Studiengang</label>
        <select id="degreeprogram-select" style="width:100%" class="form-control select2">{% for d_p in degree_programs %}
            <option value="{{ d_p.id }}"
                    {% if project.degree_program.id == d_p.id %}selected{% endif %}>{{ d_p.name }}</option>{% endfor %}
        </select>
    </div>
    {% if project %}
        <input type="hidden" id="subject-preload" value="{{ project.subject.id }}"/>
    {% endif %}
    <div class="form-group">
        <label for="subject-select" style="width:1%">Fach</label>
        <select class="form-control select2" style="width:100%" id="subject-select"></select>
    </div>
    <div class="form-group">
        <label for="semesteryear-select" style="width:1%">Semester</label>
        <input type="hidden" value="{{ project.get_semester_year_string_for_preload }}" id="semesteryear-preload"/>
        <select id="semesteryear-select" style="width:100%"  class="form-control select2">{% for i in year_choices %}
            <option value="WS {{ i }}" {% if  forloop.counter0 == 0 %}selected{% endif %}>
                WiSe {{ i }}/{{ i|add:1 }}</option>
            <option value="SS {{ i }}">SoSe {{ i }}</option>
        {% endfor %}</select>
    </div>
{% endblock %}
{% block tags_help %}
{% include 'upload/help/help_tags.html' %}
{% endblock %}
{% block tags %}
    <ul id="add-tags-bar" style="border: 1px solid #e6e6e6;">
        {% if project %}
            {% for tag in project.tags.all %}
                <li>{{ tag.value }}</li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}

{% block metadatabox %}
    <div class="panel">
        <div class="panel-body row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right:4px;">
                <button class="btn btn-primary btn-block" name="save" id="pu-save">Speichern</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:4px;">
                {% if not project %}
                <a class="btn btn-warning btn-block" id="discard-project" data-href="/" data-toggle="modal" data-target="#confirm-discard-modal" href="#">Verwerfen</a>
                    {% include 'upload/confirm_discard.html' %}
                {% else %}
                    <a class="btn btn-warning btn-block" id="delete-project" data-toggle="modal" data-target="#confirm-delete-modal" href="#">Löschen</a>
                    {% include 'upload/confirm_delete.html' %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#confirm-publish-modal" href="#" id="publish-project">Veröffentlichen</button>
                {% include 'upload/confirm_publish.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <style>
    .profs-choices {
        margin-right: 8px;
        height: 40px;
        border: 1px solid #ececec;
        color: rgb(64, 64, 64);
    }

    /* TODO: move to less */
    [class^='select2'] {
        border-radius: 0px !important;
    }

    .select2-container .select2-selection--single {
        height: 41px !important;
        border: 1px solid #e6e6e6;
        margin-bottom: 12px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 41px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
        top:7px;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <script src="{% static 'js/libs/dropzone.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'search/js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'upload/js/upload.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/libs/bootstrap-filestyle.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.js" type="text/javascript"
            charset="utf-8"></script>
    <script>
        Dropzone.autoDiscover = false;
        var currentUser = {{ request.user.get_lib_user.id }};
        var addContentTextUrl = "{% url 'add-content' content_type='text' %}";
        var addContentPictureUrl = "{% url 'add-content' content_type='image' %}";
        var imageLinkUrl = "{% url 'file-input-templates' input_for='imagelink' %}";
        var imageFileUrl = "{% url 'file-input-templates' input_for='imagefile' %}";
        var soundCloudLinkUrl = "{% url 'file-input-templates' input_for='soundcloud' %}";
        var addAudioFileUrl = "{% url 'file-input-templates' input_for='audiofile' %}";
        var addSlideshowUrl = "{% url 'add-content' content_type='slideshow' %}";
        var addContentAudio = "{% url 'add-content' content_type='audio' %}";
        var addContentVideo = "{% url 'add-content' content_type='video' %}";
        var addVideoFileUrl = "{% url 'file-input-templates' input_for='videofile' %}";
        var addVideoLinkUrl = "{% url 'file-input-templates' input_for='videolink' %}";
        var memberRespUrl = "{% url 'member-choices-with-resp' %}";
        var projectPostUrl = "{% url 'new-project' %}";
        var supervisorChoicesUrl = "{% url 'supervisor-choices' %}";
        var addContentChooseUrl = "{% url 'add-content-choose' %}";
        var addContentChoicesUrl = "{% url 'add-content-choices' %}";
        {% if project %}
            var project_content = {{ project.contents | safe }};
        {% endif %}
        $('.select2').select2();
    </script>

    <script src="{% static 'project/js/ui_functionality.js' %}" type="application/javascript" charset="utf-8"></script>
    <script src="{% static 'project/js/submit_functionality.js' %}" type="application/javascript"
            charset="utf-8"></script>

{% endblock %}