{% extends 'project.html' %}
{% load staticfiles %}
{% block title %}
    {% if project %}
        {{ project.heading }} - Bearbeiten
    {% else %}
        Neues Projekt erstellen
    {% endif %}
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
{% endblock %}
{% block id %}
    projectupload-area
{% endblock %}
{% block imagespace %}
    <div class="upload-title-image-wrapper">
        <a class="text-center text-primary" data-toggle="modal" data-target="#imgUploadModal">
            <span class="fa fa-upload fa-4x" style="padding-top:22%;"></span><br>
            <span style="display:inline-block;">Titelbild hochladen</span>
        </a>
    </div>

    {% include 'upload/imguploadmodal.html' %}
{% endblock %}

{% block maininfo %}
    <input type="text" id="heading" class="form-control input-lg h1 font-elegance" placeholder="Titel" maxlength="40"
            {% if project %} value="{{ project.heading }}" {% endif %}>
    <input type="text" id="subheading" class="form-control input-sm h4 font-elegance" placeholder="Untertitel"
           maxlength="70"
            {% if project %} value="{{ project.subheading }}" {% endif %}>
    <hr>
    <div class="input-group">
        <textarea id="description" class="form-control resize-none" placeholder="Kurzbeschreibung" rows="5"
                  maxlength="500">{% if project %}{{ project.description }}{% endif %}</textarea>
    </div>
{% endblock %}

{% block contentbody %}
    <div id="content-body">
        <div id="content-btn">
            {% include 'upload/addcontent.html' %}
        </div>
    </div>
{% endblock %}

{% block projectsocials %}
    <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <a id="link1">
            <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
            <br>
            Link hinzufügen
        </a>
    </div>
    <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <a id="link2">
            <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
            <br>
            Link hinzufügen
        </a>
    </div>
    <div class="psocial col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <a id="link3">
            <p class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></p>
            <br>
            Link hinzufügen
        </a>
    </div>
{% endblock %}

{% block projectmember %}
    <div id="member-wrapper">
        {{ request.user.get_lib_user.get_public_name }}
        <ul id="resp-bar-{{ request.user.get_lib_user.id }}" style="border: 1px solid #e6e6e6;">
        </ul>
    </div>
    <hr>
    <button class="btn btn-primary btn-block" id="pu-add-member">Mitglied hinzufügen</button>
    <hr>
    <div id="supervisor-wrapper">
    </div>
    <button class="btn btn-primary btn-block" id="pu-add-supervisor">Betreuer hinzufügen</button>

{% endblock %}

{% block projectinfo %}
    <div class="form-group">
        <label for="degreeprogram-select">Studiengang</label>
        <select id="degreeprogram-select" class="form-control">{% for d_p in degree_programs %}
            <option value="{{ d_p.id }}">{{ d_p.name }}</option>{% endfor %}</select>
    </div>
    <div class="form-group">
        <label for="subject-select">Fach</label>
        <select class="form-control" id="subject-select"></select>
    </div>
    <div class="form-group">
        <label for="semesteryear-select">Semester</label>
        <select id="semesteryear-select" class="form-control">{% for i in year_choices %}
            <option value="WS{{ i }}" {% if  forloop.counter0 == 0 %}selected{% endif %}>
                WiSe {{ i }}/{{ i|add:1 }}</option>
            <option value="SS{{ i }}">SoSe {{ i }}</option>
        {% endfor %}</select>
    </div>
{% endblock %}

{% block tags %}
    <ul id="add-tags-bar" style="border: 1px solid #e6e6e6;">
    </ul>
{% endblock %}

{% block metadatabox %}
    <div class="panel">
        <div class="panel-body row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right:4px;">
                <button class="btn btn-primary btn-block">Speichern</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:4px;">
                <button class="btn btn-secondary btn-block">Verwerfen</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-danger btn-block" id="pu-publish">Veröffentlichen</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

    <script src="{% static 'search/js/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'upload/js/upload.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var addcontentchoice = `{% include "upload/addcontentchoice.html" %}`;
        var addcontent = `{% include "upload/addcontent.html" %}`;
        var supervisor_wrapper = $('#supervisor-wrapper');
        var supervisor_input_uid = 0;
        var member_wrapper = $('#member-wrapper');
        var users_responsibilities = {};

        $('#content-btn').hover(function () {
            $('#addcontent-row').replaceWith(addcontentchoice);
        }, function () {
            $('#addcontentchoice-row').replaceWith(addcontent);
        });

        $('#degreeprogram-select').change(function () {
            var id = $(this).val();
            $.ajax({
                url: "/subjects_by_degree_program/" + id,
                dataType: 'json',
                type: 'POST',
                data: {csrfmiddlewaretoken: window.CSRF_TOKEN},
                success: function (data) {
                    $('#subject-select').find('option').remove().end();
                    $.each(data, function (i, item) {
                        $('#subject-select').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                },
                error: function (request, status, error) {
                    console.log("Ajax Request Error - Status: " + status, " - Error: " + error);
                }
            });
        });

        var charCount = function (text_max, input, span) {
            $(span).html(0 + '/' + text_max);
            $(input).keyup(function () {
                var text_length = $(input).val().length;
                $(span).html(text_length + '/' + text_max);
            });
        };

        function aMemberNameEmpty() {
            var result = false;
            $('.pu-member-select2').each(function () {
                if ($(this).val() === "") {
                    result = true;
                    return false;
                }
            });
            return result;
        }

        $('#pu-add-member').on("click", function () {
            if (!aMemberNameEmpty()) {
                $.getJSON({% url 'member-choices-with-resp' %}, function (json) {
                    member_wrapper.append(json.text);
                    $(".pu-member-select2").select2({
                        containerCss: "pu-member-select2",
                        placeholder: "Mitglied wählen"
                    });

                    $(".resp-bar").tagit({
                        placeholderText: 'Tätigkeit hinzufügen',
                        autocomplete: {
                            source: [] //TODO: Get list of all tags from server
                        },
                        showAutocompleteOnFocus: true
                    });
                });
            }
        });

        function fillMemberResponsibilities() {
            users_responsibilities = {};
            var resp_arr = $('.resp-bar');
            $('.pu-member-select2').each(function (index, item) {
                users_responsibilities[$(this).val()] = $(resp_arr.get(index)).tagit("assignedTags");
            });

            users_responsibilities[{{ request.user.get_lib_user.id }}] =
                $("#resp-bar-{{ request.user.get_lib_user.id }}").tagit("assignedTags");
        }

        $('#pu-add-supervisor').on("click", function () {
            var selection = $('#sv-' + (supervisor_input_uid - 1) + " .profs-choices").val();
            console.log(selection);
            if (supervisor_input_uid == 0 || !(selection === "choose")) {
                $.getJSON({% url 'supervisor-choices' %}, function(json){
                    supervisor_wrapper.append(
                        "<div class='form-group' id='sv-" + supervisor_input_uid + "'>" +
                        json.text +
                        "<span style='margin-left:8px;' class='sv-close fa fa-times-circle'></span></div>"
                    );

                    $('.profs-choices').select2({
                        containerCss: "prof-choices",
                        placeholder: "Betreuer wählen"
                    });
                    supervisor_input_uid += 1;
                });
            }
        });

        supervisor_wrapper.on("click", '.sv-close', function (event) {
            var surrounding_div_id = $(event.target).parent()[0].id;
            $('#' + surrounding_div_id).remove();
        });

        function getSupervisors() {
            var supervisors = [];
            $('.profs-choices').each(function (index, item) {
                if (item.value != "choose") {
                    supervisors.push(item.value);
                }
            });
            return supervisors
        }

        $('#pu-publish').on("click", function () {
            fillMemberResponsibilities();

            var project_json_dict = JSON.stringify({
                p_heading: $('#heading').val(),
                p_subheading: $('#subheading').val(),
                p_description: $('#description').val(),
                p_degree_program: $('#degreeprogram-select').val(),
                p_semesteryear: $('#semesteryear-select').val(),
                p_subject: $('#subject-select').val(),
                p_supervisors: getSupervisors(),
                p_member_responsibilities: users_responsibilities
            });
            $.ajax({
                url: "{% url 'new-project' %}",
                type: "POST",
                data: {
                    params: project_json_dict,
                    csrfmiddlewaretoken: window.CSRF_TOKEN
                },
                success: function (json) {
                    alert("success");
                }
            });
        });

        $(document).ready(function () {
            $("#add-tags-bar").tagit({
                placeholderText: 'Hinzufügen',
                afterTagAdded: function (event, ui) {
                    console.log("Added tag");
                },
                afterTagRemoved: function (event, ui) {
                    console.log("Removed tag");
                },
                autocomplete: {
                    source: [] //TODO: Get list of all tags from server
                },
                showAutocompleteOnFocus: true
            });

            $("#resp-bar-{{ request.user.get_lib_user.id }}").tagit({
                placeholderText: 'Tätigkeit hinzufügen',
                autocomplete: {
                    source: [] //TODO: Get list of all tags from server
                },
                showAutocompleteOnFocus: true
            });
            $('#degreeprogram-select').trigger('change');
        });
    </script>
{% endblock %}