{% load staticfiles %}

<div class="soundcloud-input">
    <label>Soundcloud URL</label>
    <img class="sub-content-close" width="12px" style="margin-left:8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
    <input type="text"
           data-type-key="url"
           class="content-input audio-url form-control input-sm h4 font-elegance"
           placeholder="https://soundcloud.com/xyz..."/>
    <input type="text"
           data-type-key="text"
           class="content-input audio-subheading form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Beschreibung unterm des Clips(optional)"
           maxlength="100">
</div>