{% load staticfiles %}

<div class='form-group'>
    <select class='profs-choices form-control' style="width: 90%;">
        <option value="choose" selected>Betreuer wählen</option>
        {% for supervisor in supervisors %}
            <option value='{{ supervisor.id }}'>
                {{ supervisor.auth_user.first_name }} {{ supervisor.auth_user.last_name }}
            </option>
        {% endfor %}
    </select>
    <img class="sub-content-close" width="12px" style="margin-left:8px; margin-bottom: 8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
</div>
<style>
    .profs-choices {
        margin-right: 8px;
        height: 40px;
        border: 1px solid #ececec;
        color: rgb(64, 64, 64);
    }

    /* TODO: move to less */
    [class^='select2'] {
        border-radius: 0px !important;
    }

    .select2-container .select2-selection--single {
        height: 41px !important;
        border: 1px solid #e6e6e6;
        margin-bottom: 12px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 41px;
    }
</style>