{% extends 'upload/base_input.html' %}
{% load staticfiles %}
{% load filename %}

{% block inputClass %}video-input{% endblock %}

{% block inputLabel %}Wähle eine Datei{% endblock %}

{% block input %}
    <input type="file" data-type-key="filename" data-file-prefix="video" name="file" class="content-input"
    data-placeholder="{% if original_name %}{{ original_name }}{% else %}Keine Datei ausgewählt.{% endif %}"
    data-icon="fa fa-file-video-o">
{% endblock %}

{% block subheadingClass %}add-input-subtitle{% endblock %}