{% load staticfiles %}

<div class="video-link-input">
    <label>Url</label>
    <img class="sub-content-close" width="12px" style="margin-left:8px; cursor: pointer;"
         src="{% static 'images/x.svg' %}">
    <input type="text"
           data-type-key="url"
           class="content-input video-url form-control input-sm h4 font-elegance"
           placeholder="https://www....."/>
    <input type="text"
           data-type-key="text"
           class="content-input add-input-subtitle form-control input-sm h4 font-elegance"
           style="margin-bottom: 8px;"
           placeholder="Beschreibung unter dem Video(optional)"
           maxlength="100">
</div>